.window_apps{
    position: absolute;
    display: none;
    opacity: 0;
    top: 60px;
    right: 10px;
    width: 400px;
    height: auto;
    max-height: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2E2E2E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    
}

.apps{
    cursor: pointer;
}

.window_apps.is-open {
  display: block;        /* mostra quando abre */
  opacity: 1;
  transform: translateY(0);
}

.window_apps ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.window_apps ul li{
    color: #a7a7a7;
    font-size: 16px;
}

.window_apps ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.icon_window_apps{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 10px;
    transition: .3s;
}

.icon_window_apps:hover{
    background-color: #3f3f3f;
    cursor: pointer;
}

.icon_window_apps img{
    width: 30px;
    height: 30px;
    align-self: center;
}

.icon_window_apps span{
    margin-top: 10px;
    font-size: 14px;
    color: #a7a7a7;
    text-align: center;
}

#analytics{
    filter:
        invert(33%)
        sepia(92%)
        saturate(7481%)
        hue-rotate(352deg)
        brightness(120%)
        contrast(101%);
}

#sends{
    filter:
        invert(14%)
        sepia(93%)
        saturate(3197%)
        hue-rotate(192deg)
        brightness(180%)
        contrast(104%);
}

#docs{
    filter:
        invert(19%)
        sepia(96%)
        saturate(7476%)
        hue-rotate(259deg)
        brightness(150%)
        contrast(104%);
}

#cadastros{
    filter: 
        invert(100%);
}